/* Only include things within the section tags */
.boxes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
    padding: 10px 40px 0 40px;
}
.box{
    background-color: white;
    padding: 10px;
}
.box img{
    width: 100%;
}
h1{
    text-align: center;
}
button{
    border: none;
    margin-top: 10px;
    background-color: #1c1c9c;
    padding: 2px;
    border-radius: 20px;
    font-size: 16px;
}
button:hover{
    background-color: #1c1c9ca6;
}
button a{
    color: white;
}
.program-lang li{
    background-color: #9c1c1c;
    color: white;
    padding: 4px;
    border-radius: 30px;
}
.program-lang{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
}

@media (max-width: 768px) {
    .boxes{
        display: flex;
        flex-direction: column;
    }
}