/* Only include things within the section tags */
.contact{
    text-align: center;
}
section{
    max-width: 50vw;
    padding: 1em 3em;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}
.ksa-list{
    padding-left: 0.4em;
    list-style-type: "- ";
}
.prof-state > p, .cal > p, .school-details, .ksa-list, .contact{
    margin-bottom: 1em;
}
.school-info{
    display: flex;
    justify-content: space-between;
}
.eav-info{
    display: flex;
    justify-content: space-between;
}
h3{
    text-align: center;
}
@media screen and (max-width: 768px) {
    section{
        max-width: unset;
    }
    footer{
        margin-top: unset;
    }
}